
<!DOCTYPE html> 
<html> 
    <head>  
        <title>Ywala Housing</title>  
        {% load static %}
        {% load bootstrap3 %}
        
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:italic">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <link rel='stylesheet' href='{% static "account/styles.css" %}'>
        
    </head> 
    <body>  

        <nav class='navbar navbar-inverse' style='padding:0; padding-top:10px;'>
            <div class='container-fluid'>
                    <div class='navbar-header'>
                            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#MyNavBar'>
                                <span class='icon-bar'></span>
                                <span class='icon-bar'></span>
                                <span class='icon-bar'></span>
                            </button>
                            <a  class='navbar-brand' style="font-family: 'Tangerine', serif; font-size: 48px; color:#000000;">Ywala Housing</a>
                    </div>
                    <div 'collapse navbar-collapse'  id='MyNavBar'> 
                        <ul class='nav navbar-nav navbar-right' style="font-size: 20px;">
                            <li>
                                <a href='#'>
                                    {% if user.profile.image  %} 
                                    <img src='{{ user.profile.image.url }}'  width='50px' height="50px" style='border-radius:50%'>
                                    {% else %}
                                    <img src='{% static "account/avatar2.jpg" %}' width='50px' height="50px" style='border-radius:50%'>
                                    {% endif %}
                            </a>
                            </li>
                            <li>
                                <a href='{% url "dashboard" %}' class='dash' style='font-size: 15px'>
                                        
                                    {% if request.user.is_authenticated %}      
                                    Hello {{ request.user.first_name }},
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a href='{% url "addlisting" %}' class='dash' style='font-size: 15px'>
                                    <span class='glyphicon glyphicon-home' aria-hidden="true"></span>
                                    Make a Listing
                                </a>
                            </li>

                            <li>
                                <a href='{% url "postman:inbox" %}' class='dash' style='font-size: 15px'>
                                    <span class='glyphicon glyphicon-envelope' aria-hidden="true"></span>
                                    Inbox
                                </a>
                            </li>
                        </ul>
                    </div>
            </div>
    </nav>
     
    <div id='addhouse'>
        <br>
        
        <div class='addshow'>
                 
                        {% if messages %}
                            <div class="alert alert-success">
                                <p>    
                                    {% for message in messages %}          
                                        {{ message|safe }}          
                                    {% endfor %}  
                                </p>
                            </div>                     
                        {% endif %}       
                    
            <br>
            <h2 style="font-family: 'Tangerine', serif; font-size: 58px; color:#000000; text-align:center;">Create New Listing</h2>
            <form method="POST" class="post-form" enctype="multipart/form-data" >{% csrf_token %}
                {% load bootstrap %}
                {{ house_form.name_of_accomodation|bootstrap}}
                {{ house_form.type_of_apartment|bootstrap}}
                {{ house_form.Number_of_rooms|bootstrap}}
                {{ house_form.house_rent|bootstrap}}
                {{ house_form.availability|bootstrap}}
                {{ house_form.location|bootstrap}}
                {{ house_form.nearest_institution|bootstrap}}
                {{ house_form.description|bootstrap}}
                
               <strong> <p>Upload six images below</p></strong>
               <div >
                    <div class='row'>
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default ' >{{ house_form.house_image}}</label>
                        </div>
        
                        <div class='col-sm-4' >
                            <label style='font-size:10px;' class='btn btn-default'>{{ house_form.house_image2}}</label>
                        </div>
        
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default'>{{ house_form.house_image3}}</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default ' >{{ house_form.house_image4}}</label>
                        </div>
        
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default'>{{ house_form.house_image5}}</label>
                        </div>
        
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default'>{{ house_form.house_image6}}</label>
                        </div>
                    </div>
                <p>Do you want to upload more images?
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#colMenu">Yes</button>
                </p>
                <div id='colMenu' class='collapse'>
                    <div class='row'>
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default ' >{{ house_form.house_image7}}</label>
                        </div>
        
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default'>{{ house_form.house_image8}}</label>
                        </div>
        
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default'>{{ house_form.house_image9}}</label>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default ' >{{ house_form.house_image10}}</label>
                        </div>
        
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default'>{{ house_form.house_image11}}</label>
                        </div>
        
                        <div class='col-sm-4'>
                            <label style='font-size:10px;' class='btn btn-default'>{{ house_form.house_image12}}</label>
                        </div>
                    </div>
                    </div>
                </div>
               
                <br>
               
               <input type="submit" value="Save changes" class='btn btn-success' >
            </form>
            <br>
        </div>
    </div>
    <footer class='container-fluid ' id='mfoot'>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-4'>
                        <ul>
                            <li>About Ywala.com</li>
                            <li>Ywala Blog</li>
                            <li>Terms and Conditions</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
    
                    <div class='col-sm-4'>
                        <ul>
                            <li>Finding a room</li>
                            <li>How it Works</li>
                            <li>Why use Ywala.com</li>
                            <li>FAQ</li>
                            <li>Refund Policy</li>
                        </ul>
                    </div>
    
                    <div class='col-sm-4'>
                        <a href='#' class='fa fa-facebook'></a>
                        <a href='#' class='fa fa-twitter'></a>
                        <a href='#' class='fa fa-google'></a>
                        <a href='#' class='fa fa-youtube'></a>
                    </div>
    
                    
                </div>
                
                    <hr style='border-color:#286DA8; border-width: 1px'>
                    <p>Copyright 2018, Ywala.com</p>
            </div>
        </footer>
            
</body> 
</html>




 